# Laboratorio 1

In [13]:
import pandas as pd
import quandl
import matplotlib.pyplot as plt
%matplotlib inline
quandl.ApiConfig.api_key = 'riVhxyiwNtvu-2DbzJsD'

In [17]:
tickers = read_excel("tickers.xlsx")

NameError: name 'read_excel' is not defined

In [14]:
data = quandl.get_table('WIKI/PRICES', ticker = ['AAPL', 'MSFT', 'WMT'], 
                        qopts = { 'columns': ['ticker', 'date', 'adj_close'] }, 
                        date = { 'gte': '2015-12-31', 'lte': '2016-12-31' }, 
                        paginate=True)

In [15]:
data

     ticker       date   adj_close
None
0       WMT 2016-12-30   67.742045
1       WMT 2016-12-29   67.879254
2       WMT 2016-12-28   67.928257
3       WMT 2016-12-27   68.310482
4       WMT 2016-12-23   68.153672
5       WMT 2016-12-22   68.202675
6       WMT 2016-12-21   69.819781
7       WMT 2016-12-20   70.388219
8       WMT 2016-12-19   70.153003
9       WMT 2016-12-16   69.564965
10      WMT 2016-12-15   69.662971
11      WMT 2016-12-14   69.917788
12      WMT 2016-12-13   70.368617
13      WMT 2016-12-12   70.241209
14      WMT 2016-12-09   68.682907
15      WMT 2016-12-08   68.937723
16      WMT 2016-12-07   69.192540
17      WMT 2016-12-06   68.472393
18      WMT 2016-12-05   68.063660
19      WMT 2016-12-02   68.978442
20      WMT 2016-12-01   68.774076
21      WMT 2016-11-30   68.540515
22      WMT 2016-11-29   69.455297
23      WMT 2016-11-28   69.280126
24      WMT 2016-11-25   69.319053
25      WMT 2016-11-23   68.929784
26      WMT 2016-11-22   68.238831
27      WMT 2016-11-21   67.508952
28      WMT 2016-11-18   66.701219
29      WMT 2016-11-17   67.333781
...     ...        ...         ...
729    AAPL 2016-02-12   91.297138
730    AAPL 2016-02-11   91.015446
731    AAPL 2016-02-10   91.569115
732    AAPL 2016-02-09   92.268487
733    AAPL 2016-02-08   92.287914
734    AAPL 2016-02-05   91.326278
735    AAPL 2016-02-04   93.832360
736    AAPL 2016-02-03   93.088425
737    AAPL 2016-02-02   91.281727
738    AAPL 2016-02-01   93.165717
739    AAPL 2016-01-29   94.044912
740    AAPL 2016-01-28   90.904929
741    AAPL 2016-01-27   90.257610
742    AAPL 2016-01-26   96.605206
743    AAPL 2016-01-25   96.073825
744    AAPL 2016-01-22   97.986799
745    AAPL 2016-01-21   93.040118
746    AAPL 2016-01-20   93.513531
747    AAPL 2016-01-19   93.387931
748    AAPL 2016-01-15   93.842021
749    AAPL 2016-01-14   96.151117
750    AAPL 2016-01-13   94.093220
751    AAPL 2016-01-12   96.576222
752    AAPL 2016-01-11   95.194629
753    AAPL 2016-01-08   93.677776
754    AAPL 2016-01-07   93.185040
755    AAPL 2016-01-06   97.291172
756    AAPL 2016-01-05   99.233131
757    AAPL 2016-01-04  101.783763
758    AAPL 2015-12-31  101.696810

[759 rows x 3 columns]

In [22]:
DVY = pd.DataFrame(data)

In [23]:
DVY

                                  ﻿<?xml version="1.0"?>
0      <ss:Workbook xmlns:ss="urn:schemas-microsoft-c...
1                                            <ss:Styles>
2                             <ss:Style ss:ID="Default">
3                   <ss:Alignment ss:Horizontal="Left"/>
4                                            </ss:Style>
5                            <ss:Style ss:ID="wraptext">
6      <ss:Alignment ss:Horizontal="Left" ss:WrapText...
7                               <ss:Font ss:Italic="1"/>
8                                            </ss:Style>
9                         <ss:Style ss:ID="headerstyle">
10                               <ss:Font ss:Bold="1" />
11                                           </ss:Style>
12                               <ss:Style ss:ID="Date">
13          <ss:NumberFormat ss:Format="dd\-mmm\-yyyy"/>
14                                           </ss:Style>
15                               <ss:Style ss:ID="Left">
16                  <ss:Alignment ss:Horizontal="Left"/>
17               <ss:NumberFormat ss:Format="Standard"/>
18                                           </ss:Style>
19                              <ss:Style ss:ID="Right">
20                 <ss:Alignment ss:Horizontal="Right"/>
21               <ss:NumberFormat ss:Format="Standard"/>
22                                           </ss:Style>
23                                          </ss:Styles>
24                     <ss:Worksheet ss:Name="Holdings">
25                                            <ss:Table>
26                                              <ss:Row>
27                           <ss:Cell ss:StyleID="Left">
28       <ss:Data ss:Type="String">26-Aug-2019</ss:Data>
29                                            </ss:Cell>
...                                                  ...
70371              <ss:Data ss:Type="Number">0</ss:Data>
70372                                         </ss:Cell>
70373                       <ss:Cell ss:StyleID="Right">
70374              <ss:Data ss:Type="Number">0</ss:Data>
70375                                         </ss:Cell>
70376                       <ss:Cell ss:StyleID="Right">
70377              <ss:Data ss:Type="Number">0</ss:Data>
70378                                         </ss:Cell>
70379                                          </ss:Row>
70380                                           <ss:Row>
70381                        <ss:Cell ss:StyleID="Left">
70382                                         </ss:Cell>
70383                       <ss:Cell ss:StyleID="Right">
70384       <ss:Data ss:Type="Number">0.215067</ss:Data>
70385                                         </ss:Cell>
70386                       <ss:Cell ss:StyleID="Right">
70387       <ss:Data ss:Type="Number">0.287815</ss:Data>
70388                                         </ss:Cell>
70389                       <ss:Cell ss:StyleID="Right">
70390              <ss:Data ss:Type="Number">0</ss:Data>
70391                                         </ss:Cell>
70392                       <ss:Cell ss:StyleID="Right">
70393              <ss:Data ss:Type="Number">0</ss:Data>
70394                                         </ss:Cell>
70395                       <ss:Cell ss:StyleID="Right">
70396       <ss:Data ss:Type="Number">0.072748</ss:Data>
70397                                         </ss:Cell>
70398                                          </ss:Row>
70399                                        </ss:Table>
70400                      </ss:Worksheet></ss:Workbook>

[70401 rows x 1 columns]